In [ ]:
print('hello World')

In [ ]:
# This is a single-line comment
"""
This is a
multi-line comment
"""

In [ ]:
#Variables

x = 10
name ='Spooky'
pi = 3.14

print(x)
print(name)
print(pi)

In [ ]:
x = 10
y = 5
print(x + y)  # Addition
print(x - y)  # Subtraction
print(x * y)  # Multiplication
print(x / y)  # Division
print(x // y)  # Floor division
print(x % y)  # Modulus
print(x ** y)  # Exponentiation

## String

In [ ]:
#String
name = 'Spooky'
nameshort =name[0:3] #strats from 0 and end till 3 (excluding 3) i.e 0 to 2
print(nameshort)

alphabet ='abcdefghijklmnopqrstuvwxyz'
skip_alpha = alphabet[0::2]
print(skip_alpha)
skip_alpha = alphabet[0::3]
print(skip_alpha)
skip_alpha = alphabet[0::4]
print(skip_alpha)
skip_alpha = alphabet[0::5]
print(skip_alpha)
skip_alpha = alphabet[0::6]
print(skip_alpha)

In [ ]:
## String Functions
print(len(alphabet))
print(alphabet.endswith("z"))
print(alphabet.startswith("a")) ## this function is case sensitive

print(alphabet.capitalize())
print(alphabet.upper())

print(alphabet.find('f')) ## find the index of that character

## List

In [ ]:
#List 
fruits = ['Mango','Guava','Orange']
print(type(fruits))
print(fruits[2])
fruits.append('Apple')
print(fruits)
fruits.remove('Apple')
print(fruits)
print(fruits.pop())
fruits.insert(3,'Watermelon')
print(fruits)

number = [1,2,3,5,4,7,6,9,8,0]
number.sort()
print(number)
number.reverse()
print(number)

In [ ]:
#Tuples
sports = ('Football','Basketball','Volleyball')
print(type(sports))

## Tuples are immutable means we cannot change items in typles
sports

## Dictionary

In [ ]:
#Dictionary 

employee_info = {
    'Name' : 'Anish Shakya',
    'Age' : 20,
    'Location' : 'Lalitpur,Patan',
    'Profession' :'Data Analyst',
    'Work Experience' : '2 Years',
    'Education' : 'Graduated',
    'Course' : 'Bachelors in Computer Application'
}

print(employee_info['Name'])
employee_info['Age'] = 22
print(employee_info)

## Displaying all value of dictionary via a loop

for key,values in employee_info.items():
    print(f'{key} : {values}')

print('----------------------------------------')    
for value in employee_info.values():
    print(f'{value}')
print('----------------------------------------')    
for key in employee_info.keys():
    print(f'{key}')

In [ ]:
employee_infos={
    'Employee_1' : {
        'Name' : 'Anish Shakya',
        'Age' : 20,
        'Location' : 'Lalitpur,Patan',
        'Profession' :'Data Analyst',
        'Work Experience' : '2 Years',
        'Education' : 'Graduated',
        'Course' : 'Bachelors in Computer Application'
    },
    'Employee_2' : {
        'Name' : 'Anish Shakya',
        'Age' : 21,
        'Location' : 'Kathmandu,Nepal',
        'Profession' :'Data Engineer',
        'Work Experience' : '3 Years',
        'Education' : 'Graduated',
        'Course' : 'Bachelors in Information Technology'
}}

### Dictionary within dictionary 
for key,value in employee_infos.items():
    print(f'----------------{key}--------------')
    for keys,values in value.items():
        print(f'{keys}:{values}')

print('--------------------------------------')
print(employee_infos.get("Employee_1"))

In [12]:
words = {
    'Apple':'Sayau',
    'Orange':'Suntala',
    'Grapes':'Angur',   
    
}

word = input('Enter the word you want the meaning of: ')
print(f'Meaning of {word} is {words[word]}')

Meaning of Orange is Suntala

## Loops

In [ ]:
## loops 

i = 10

for data in range(i):
    print(data)
    
for fruit in fruits:
    print(fruit)
    
## while loops
i = 1

while i <=10:
    print(f'count:{i}')
    i +=1

In [ ]:
## Printing Patterns to practice loops

i=5
j=5

for row in range(i):
    for column in range(j):
        print('*'*j)
        j=j-1

In [ ]:
n=20
for i in range(1,n+1):
    print(' '*(n-i) + '*'*(2*i-1))

## SET

In [ ]:
### SET

s = {1,2,3,4,5,5,5,6,6,7,7,4,3,2,34,6}
## There is no repetation of elements in set
e = set()
print(type(e))
print(s)

In [ ]:
set1 = {2,2,4,5,6,3,2,6,87,99,67}
set2 = {1,2,34,5,66,756,432,4,5,6}

set_union = set1.union(set2) ## takes all unique elements present in set 
set_intersection = set1.intersection(set2) ## takes common elements in set

print(set_union)
print(set_intersection)

{1, 2, 3, 4, 5, 6, 99, 67, 34, 66, 432, 756, 87}
{2, 4, 5, 6}