In [2]:
print('hello World')

hello World

In [3]:
# This is a single-line comment
"""
This is a
multi-line comment
"""

'\nThis is a\nmulti-line comment\n'

In [4]:
#Variables

x = 10
name ='Spooky'
pi = 3.14

print(x)
print(name)
print(pi)

10
Spooky
3.14

In [5]:
x = 10
y = 5
print(x + y)  # Addition
print(x - y)  # Subtraction
print(x * y)  # Multiplication
print(x / y)  # Division
print(x // y)  # Floor division
print(x % y)  # Modulus
print(x ** y)  # Exponentiation

15
5
50
2.0
2
0
100000

In [9]:
#List 
fruits = ['Mango','Guava','Orange']
print(type(fruits))
print(fruits[2])
fruits.append('Apple')
print(fruits)
fruits.remove('Apple')
print(fruits)
print(fruits.pop())

<class 'list'>
Orange
['Mango', 'Guava', 'Orange', 'Apple']
['Mango', 'Guava', 'Orange']
Orange

In [ ]:
#Tuples
sports = ('Football','Basketball','Volleyball')
print(type(sports))

## Tuples are immutable means we cannot change items in typles
sports

<class 'tuple'>

In [19]:
#Dictionary 

employee_info = {
    'Name' : 'Anish Shakya',
    'Age' : 20,
    'Location' : 'Lalitpur,Patan',
    'Profession' :'Data Analyst',
    'Work Experience' : '2 Years',
    'Education' : 'Graduated',
    'Course' : 'Bachelors in Computer Application'
}

print(employee_info['Name'])
employee_info['Age'] = 22
print(employee_info)

## Displaying all value of dictionary via a loop

for key,values in employee_info.items():
    print(f'{key} : {values}')

print('----------------------------------------')    
for value in employee_info.values():
    print(f'{value}')
print('----------------------------------------')    
for key in employee_info.keys():
    print(f'{key}')

Anish Shakya
{'Name': 'Anish Shakya', 'Age': 22, 'Location': 'Lalitpur,Patan', 'Profession': 'Data Analyst', 'Work Experience': '2 Years', 'Education': 'Graduated', 'Course': 'Bachelors in Computer Application'}
Name : Anish Shakya
Age : 22
Location : Lalitpur,Patan
Profession : Data Analyst
Work Experience : 2 Years
Education : Graduated
Course : Bachelors in Computer Application
----------------------------------------
Anish Shakya
22
Lalitpur,Patan
Data Analyst
2 Years
Graduated
Bachelors in Computer Application
----------------------------------------
Name
Age
Location
Profession
Work Experience
Education
Course