In [2]:
print('hello World')

hello World

In [3]:
# This is a single-line comment
"""
This is a
multi-line comment
"""

'\nThis is a\nmulti-line comment\n'

In [4]:
#Variables

x = 10
name ='Spooky'
pi = 3.14

print(x)
print(name)
print(pi)

10
Spooky
3.14

In [5]:
x = 10
y = 5
print(x + y)  # Addition
print(x - y)  # Subtraction
print(x * y)  # Multiplication
print(x / y)  # Division
print(x // y)  # Floor division
print(x % y)  # Modulus
print(x ** y)  # Exponentiation

15
5
50
2.0
2
0
100000

In [60]:
#String
name = 'Spooky'
nameshort =name[0:3] #strats from 0 and end till 3 (excluding 3) i.e 0 to 2
print(nameshort)

alphabet ='abcdefghijklmnopqrstuvwxyz'
skip_alpha = alphabet[0::2]
print(skip_alpha)
skip_alpha = alphabet[0::3]
print(skip_alpha)
skip_alpha = alphabet[0::4]
print(skip_alpha)
skip_alpha = alphabet[0::5]
print(skip_alpha)
skip_alpha = alphabet[0::6]
print(skip_alpha)

Spo
acegikmoqsuwy
adgjmpsvy
aeimquy
afkpuz
agmsy

In [72]:
## String Functions
print(len(alphabet))
print(alphabet.endswith("z"))
print(alphabet.startswith("a")) ## this function is case sensitive

print(alphabet.capitalize())
print(alphabet.upper())

print(alphabet.find('f')) ## find the index of that character

26
True
True
Abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
5

In [81]:
#List 
fruits = ['Mango','Guava','Orange']
print(type(fruits))
print(fruits[2])
fruits.append('Apple')
print(fruits)
fruits.remove('Apple')
print(fruits)
print(fruits.pop())
fruits.insert(3,'Watermelon')
print(fruits)

number = [1,2,3,5,4,7,6,9,8,0]
number.sort()
print(number)
number.reverse()
print(number)

<class 'list'>
Orange
['Mango', 'Guava', 'Orange', 'Apple']
['Mango', 'Guava', 'Orange']
Orange
['Mango', 'Guava', 'Watermelon']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [8]:
#Tuples
sports = ('Football','Basketball','Volleyball')
print(type(sports))

## Tuples are immutable means we cannot change items in typles
sports

<class 'tuple'>

In [19]:
#Dictionary 

employee_info = {
    'Name' : 'Anish Shakya',
    'Age' : 20,
    'Location' : 'Lalitpur,Patan',
    'Profession' :'Data Analyst',
    'Work Experience' : '2 Years',
    'Education' : 'Graduated',
    'Course' : 'Bachelors in Computer Application'
}

print(employee_info['Name'])
employee_info['Age'] = 22
print(employee_info)

## Displaying all value of dictionary via a loop

for key,values in employee_info.items():
    print(f'{key} : {values}')

print('----------------------------------------')    
for value in employee_info.values():
    print(f'{value}')
print('----------------------------------------')    
for key in employee_info.keys():
    print(f'{key}')

Anish Shakya
{'Name': 'Anish Shakya', 'Age': 22, 'Location': 'Lalitpur,Patan', 'Profession': 'Data Analyst', 'Work Experience': '2 Years', 'Education': 'Graduated', 'Course': 'Bachelors in Computer Application'}
Name : Anish Shakya
Age : 22
Location : Lalitpur,Patan
Profession : Data Analyst
Work Experience : 2 Years
Education : Graduated
Course : Bachelors in Computer Application
----------------------------------------
Anish Shakya
22
Lalitpur,Patan
Data Analyst
2 Years
Graduated
Bachelors in Computer Application
----------------------------------------
Name
Age
Location
Profession
Work Experience
Education
Course

In [23]:
## loops 

i = 10

for data in range(i):
    print(data)
    
for fruit in fruits:
    print(fruit)
    
## while loops
i = 1

while i <=10:
    print(f'count:{i}')
    i +=1

0
1
2
3
4
5
6
7
8
9
Mango
Guava
count:1
count:2
count:3
count:4
count:5
count:6
count:7
count:8
count:9
count:10

In [45]:
## Printing Patterns to practice loops

i=5
j=5

for row in range(i):
    for column in range(j):
        print('*'*j)
        j=j-1

*****
****
***
**
*

In [52]:
n=20
for i in range(1,n+1):
    print(' '*(n-i) + '*'*(2*i-1))

                   *
                  ***
                 *****
                *******
               *********
              ***********
             *************
            ***************
           *****************
          *******************
         *********************
        ***********************
       *************************
      ***************************
     *****************************
    *******************************
   *********************************
  ***********************************
 *************************************
***************************************