## Dictionary

In [ ]:

employee_info = {
    'Name' : 'Anish Shakya',
    'Age' : 20,
    'Location' : 'Lalitpur,Patan',
    'Profession' :'Data Analyst',
    'Work Experience' : '2 Years',
    'Education' : 'Graduated',
    'Course' : 'Bachelors in Computer Application'
}

print(employee_info['Name'])
employee_info['Age'] = 22
print(employee_info)

## Displaying all value of dictionary via a loop

for key,values in employee_info.items():
    print(f'{key} : {values}')

print('----------------------------------------')    
for value in employee_info.values():
    print(f'{value}')
print('----------------------------------------')    
for key in employee_info.keys():
    print(f'{key}')

In [2]:
employee_infos={
    'Employee_1' : {
        'Name' : 'Anish Shakya',
        'Age' : 20,
        'Location' : 'Lalitpur,Patan',
        'Profession' :'Data Analyst',
        'Work Experience' : '2 Years',
        'Education' : 'Graduated',
        'Course' : 'Bachelors in Computer Application'
    },
    'Employee_2' : {
        'Name' : 'Anish Shakya',
        'Age' : 21,
        'Location' : 'Kathmandu,Nepal',
        'Profession' :'Data Engineer',
        'Work Experience' : '3 Years',
        'Education' : 'Graduated',
        'Course' : 'Bachelors in Information Technology'
}}

### Dictionary within dictionary 
for key,value in employee_infos.items():
    print(f'----------------{key}--------------')
    for keys,values in value.items():
        print(f'{keys}:{values}')

print('--------------------------------------')
print(employee_infos.get("Employee_1"))

----------------Employee_1--------------
Name:Anish Shakya
Age:20
Location:Lalitpur,Patan
Profession:Data Analyst
Work Experience:2 Years
Education:Graduated
Course:Bachelors in Computer Application
----------------Employee_2--------------
Name:Anish Shakya
Age:21
Location:Kathmandu,Nepal
Profession:Data Engineer
Work Experience:3 Years
Education:Graduated
Course:Bachelors in Information Technology
--------------------------------------
{'Name': 'Anish Shakya', 'Age': 20, 'Location': 'Lalitpur,Patan', 'Profession': 'Data Analyst', 'Work Experience': '2 Years', 'Education': 'Graduated', 'Course': 'Bachelors in Computer Application'}

In [5]:
words = {
    'Apple':'Sayau',
    'Orange':'Suntala',
    'Grapes':'Angur',   
    
}

word = input('Enter the word you want the meaning of: ')
print(f'Meaning of {word} is {words[word]}')

Meaning of Apple is Sayau

## SET

In [6]:

### SET

s = {1,2,3,4,5,5,5,6,6,7,7,4,3,2,34,6}
## There is no repetation of elements in set
e = set()
print(type(e))
print(s)

set1 = {2,2,4,5,6,3,2,6,87,99,67}
set2 = {1,2,34,5,66,756,432,4,5,6}

set_union = set1.union(set2) ## takes all unique elements present in set 
set_intersection = set1.intersection(set2) ## takes common elements in set

print(set_union)
print(set_intersection)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 34}
{1, 2, 3, 4, 5, 6, 99, 67, 34, 66, 432, 756, 87}
{2, 4, 5, 6}