In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('netflix_data.csv')
df

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,1,A genetics professor experiments with a treatm...,International TV
...,...,...,...,...,...,...,...,...,...,...,...
4807,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,88,Looking to survive in a world taken over by zo...,Comedies
4808,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,"July 1, 2018",2018,94,A drug dealer starts having doubts about his t...,Dramas
4809,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,88,"Dragged from civilian life, a former superhero...",Children
4810,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,"October 19, 2020",2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas
4811,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,111,A scrappy but poor boy worms his way into a ty...,Dramas

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4812 entries, 0 to 4811
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       4812 non-null   object
 1   type          4812 non-null   object
 2   title         4812 non-null   object
 3   director      4812 non-null   object
 4   cast          4812 non-null   object
 5   country       4812 non-null   object
 6   date_added    4812 non-null   object
 7   release_year  4812 non-null   int64
 8   duration      4812 non-null   int64
 9   description   4812 non-null   object
 10  genre         4812 non-null   object
dtypes: int64(2), object(9)
memory usage: 413.7+ KB

In [4]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,1,A genetics professor experiments with a treatm...,International TV

In [5]:
df.describe()

       release_year     duration
count   4812.000000  4812.000000
mean    2012.711554    99.566708
std        9.517978    30.889305
min     1942.000000     1.000000
25%     2011.000000    88.000000
50%     2016.000000    99.000000
75%     2018.000000   116.000000
max     2021.000000   253.000000

In [6]:
print(df.columns)

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'duration', 'description', 'genre'],
      dtype='object')

In [7]:
df.index

RangeIndex(start=0, stop=4812, step=1)

## Sorting and Subsetting Data Frame

In [8]:
df.sort_values('duration',ascending=True)

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
2666,s4259,TV Show,Mr. Sunshine,Lee Eung-bok,"Lee Byung-hun, Kim Tae-ri, Yoo Yeon-seok, Kim ...",South Korea,"July 8, 2018",2018,1,A young boy who ends up in the U.S. after the ...,International TV
2540,s4056,TV Show,Metallica: Some Kind of Monster,"Joe Berlinger, Bruce Sinofsky","James Hetfield, Lars Ulrich, Kirk Hammett, Rob...",United States,"February 10, 2017",2014,1,This collection includes the acclaimed rock do...,TV Shows
4427,s7119,TV Show,To the Lake,Pavel Kostomarov,"Viktoriya Isakova, Kirill Käro, Aleksandr Roba...",Russia,"October 7, 2020",2020,1,Facing the end of civilization when a terrifyi...,International TV
646,s959,TV Show,Black Money Love,Ahmet Katıksız,"Güler Ökten, Hazal Türesan, İlkin Tüfekçi, Bed...",Turkey,"October 15, 2019",2014,1,After a cop's fiancée and a jewelry designer's...,Crime TV
4645,s7493,TV Show,Watership Down,Noam Murro,"James McAvoy, Nicholas Hoult, John Boyega, Ben...",United Kingdom,"December 23, 2018",2018,1,A warren of rabbits battles many threats on th...,British TV
...,...,...,...,...,...,...,...,...,...,...,...
2012,s3196,Movie,Jodhaa Akbar,Ashutosh Gowariker,"Hrithik Roshan, Aishwarya Rai Bachchan, Sonu S...",India,"October 1, 2018",2008,214,"In 16th-century India, what begins as a strate...",Action
2224,s3522,Movie,Lagaan,Ashutosh Gowariker,"Aamir Khan, Gracy Singh, Rachel Shelley, Paul ...",India,"January 10, 2021",2001,224,"In 1890s India, an arrogant British commander ...",Dramas
3349,s5377,Movie,Sangam,Raj Kapoor,"Raj Kapoor, Vyjayanthimala, Rajendra Kumar, La...",India,"December 31, 2019",1964,228,Returning home from war after being assumed de...,Classic Movies
2811,s4491,Movie,No Longer kids,Samir Al Asfory,"Said Saleh, Hassan Moustafa, Ahmed Zaki, Youne...",Egypt,"May 21, 2020",1979,237,Hoping to prevent their father from skipping t...,Comedies
4262,s6851,Movie,The School of Mischief,Houssam El-Din Mustafa,"Suhair El-Babili, Adel Emam, Saeed Saleh, Youn...",Egypt,"May 21, 2020",1973,253,A high school teacher volunteers to transform ...,Comedies

In [9]:
df[['genre','title']]

                 genre       title
0               Dramas        7:19
1        Horror Movies       23:59
2               Action           9
3               Dramas          21
4     International TV          46
...                ...         ...
4807          Comedies  Zombieland
4808            Dramas         Zoo
4809          Children        Zoom
4810            Dramas        Zozo
4811            Dramas      Zubaan

[4812 rows x 2 columns]

In [10]:
df[df['duration'] > 90]
df[df['genre'] == 'Action']

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
16,s22,Movie,​Goli Soda 2,Vijay Milton,"Samuthirakani, Bharath Seeni, Vinoth, Esakki B...",India,"September 15, 2018",2018,128,"A taxi driver, a gangster and an athlete strug...",Action
32,s45,Movie,Æon Flux,Karyn Kusama,"Charlize Theron, Marton Csokas, Jonny Lee Mill...",United States,"February 1, 2018",2005,93,"Aiming to hasten an uprising, the leader of an...",Action
37,s51,Movie,"10,000 B.C.",Roland Emmerich,"Steven Strait, Camilla Belle, Cliff Curtis, Jo...",United States,"June 1, 2019",2008,109,Fierce mammoth hunter D'Leh sets out on an imp...,Action
44,s69,Movie,14 Blades,Daniel Lee,"Donnie Yen, Zhao Wei, Wu Chun, Law Kar-Ying, K...",Hong Kong,"April 3, 2019",2010,113,"In the age of the Ming Dynasty, Quinglong is t...",Action
...,...,...,...,...,...,...,...,...,...,...,...
4751,s7689,Movie,XXx,Rob Cohen,"Vin Diesel, Asia Argento, Marton Csokas, Samue...",United States,"January 1, 2019",2002,124,A notorious underground rush-seeker deemed unt...,Action
4752,s7690,Movie,XXX: State of the Union,Lee Tamahori,"Ice Cube, Samuel L. Jackson, Willem Dafoe, Sco...",United States,"January 1, 2019",2005,101,"In this action-packed follow-up to XXX, U.S. i...",Action
4758,s7697,Movie,Yamla Pagla Deewana 2,Sangeeth Sivan,"Dharmendra, Sunny Deol, Bobby Deol, Neha Sharm...",India,"May 1, 2017",2013,147,"Up to his old tricks, con man Dharam poses as ...",Action
4777,s7729,Movie,You Don't Mess with the Zohan,Dennis Dugan,"Adam Sandler, John Turturro, Emmanuelle Chriqu...",United States,"September 1, 2019",2008,113,An Israeli counterterrorism soldier with a sec...,Action
4783,s7738,Movie,Young Tiger,Mu Chu,"Qiu Yuen, Charlie Chin, Jackie Chan, Hu Chin, ...",Hong Kong,"November 1, 2016",1973,81,"Aided only by a tough female police officer, a...",Action

### Using Logical operator to combine conditions to filter the data set

In [11]:
is_longer_duration = df['duration'] > 90
is_action_movie = df['genre'] == 'Horror Movies'

df[is_longer_duration & is_action_movie]

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
5,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,"June 1, 2020",2019,95,"After an awful accident, a couple admitted to ...",Horror Movies
7,s9,Movie,706,Shravan Kumar,"Divya Dutta, Atul Kulkarni, Mohan Agashe, Anup...",India,"April 1, 2019",2019,118,"When a doctor goes missing, his psychiatrist w...",Horror Movies
8,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,"December 15, 2017",2008,143,An architect and his wife move into a castle t...,Horror Movies
19,s28,Movie,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,"September 8, 2020",2020,99,"As a grisly virus rampages a city, a lone man ...",Horror Movies
29,s42,Movie,Ég man þig,Óskar Thór Axelsson,"Jóhannes Haukur Jóhannesson, Ágústa Eva Erlend...",Iceland,"March 27, 2018",2017,106,"Young urbanites renovating a rundown house, an...",Horror Movies
...,...,...,...,...,...,...,...,...,...,...,...
4591,s7406,Movie,Veronica,Paco Plaza,"Sandra Escacena, Claudia Placer, Bruna Gonzále...",Spain,"February 25, 2018",2017,105,"In 1991 Madrid, after holding a séance at scho...",Horror Movies
4683,s7559,Movie,What Lies Beneath,Robert Zemeckis,"Harrison Ford, Michelle Pfeiffer, Diana Scarwi...",United States,"January 1, 2020",2000,130,When Claire Spencer starts hearing ghostly voi...,Horror Movies
4720,s7626,Movie,Wildling,Fritz Böhm,"Bel Powley, Brad Dourif, Liv Tyler, Collin Kel...",United States,"April 1, 2020",2018,93,Confined to an attic for years by a man claimi...,Horror Movies
4724,s7632,Movie,Winchester,"Michael Spierig, Peter Spierig","Helen Mirren, Jason Clarke, Sarah Snook, Angus...",Australia,"July 1, 2020",2018,100,The heiress to a vast firearms fortune constru...,Horror Movies
4742,s7674,Movie,Would You Rather,David Guy Levy,"Brittany Snow, Jeffrey Combs, Jonny Coyne, Law...",United States,"June 5, 2019",2013,93,"In need of cash to help her sick brother, a yo...",Horror Movies

#### Subsetting the dataframe using isin() method

In [12]:
is_action_or_horror = df['genre'].isin(['Action','Horror Movies'])
df[is_action_or_horror]

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
5,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,"June 1, 2020",2019,95,"After an awful accident, a couple admitted to ...",Horror Movies
7,s9,Movie,706,Shravan Kumar,"Divya Dutta, Atul Kulkarni, Mohan Agashe, Anup...",India,"April 1, 2019",2019,118,"When a doctor goes missing, his psychiatrist w...",Horror Movies
8,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,"December 15, 2017",2008,143,An architect and his wife move into a castle t...,Horror Movies
...,...,...,...,...,...,...,...,...,...,...,...
4751,s7689,Movie,XXx,Rob Cohen,"Vin Diesel, Asia Argento, Marton Csokas, Samue...",United States,"January 1, 2019",2002,124,A notorious underground rush-seeker deemed unt...,Action
4752,s7690,Movie,XXX: State of the Union,Lee Tamahori,"Ice Cube, Samuel L. Jackson, Willem Dafoe, Sco...",United States,"January 1, 2019",2005,101,"In this action-packed follow-up to XXX, U.S. i...",Action
4758,s7697,Movie,Yamla Pagla Deewana 2,Sangeeth Sivan,"Dharmendra, Sunny Deol, Bobby Deol, Neha Sharm...",India,"May 1, 2017",2013,147,"Up to his old tricks, con man Dharam poses as ...",Action
4777,s7729,Movie,You Don't Mess with the Zohan,Dennis Dugan,"Adam Sandler, John Turturro, Emmanuelle Chriqu...",United States,"September 1, 2019",2008,113,An Israeli counterterrorism soldier with a sec...,Action
4783,s7738,Movie,Young Tiger,Mu Chu,"Qiu Yuen, Charlie Chin, Jackie Chan, Hu Chin, ...",Hong Kong,"November 1, 2016",1973,81,"Aided only by a tough female police officer, a...",Action

## New Columns

In [13]:

# Convert 'date_added' to datetime format
df['date_added'] = pd.to_datetime(df['date_added'], format='%B %d, %Y', errors='coerce')

# Extract day, month, and year
df['day'] = df['date_added'].dt.day
df['month'] = df['date_added'].dt.month_name()
df['year'] = df['date_added'].dt.year

df

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre,day,month,year
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016-12-23,2016,93,After a devastating earthquake hits Mexico Cit...,Dramas,23.0,December,2016.0
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2018-12-20,2011,78,"When an army recruit is found dead, his fellow...",Horror Movies,20.0,December,2018.0
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2017-11-16,2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action,16.0,November,2017.0
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2020-01-01,2008,123,A brilliant group of students become card-coun...,Dramas,1.0,January,2020.0
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,2017-07-01,2016,1,A genetics professor experiments with a treatm...,International TV,1.0,July,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4807,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,88,Looking to survive in a world taken over by zo...,Comedies,1.0,November,2019.0
4808,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,2018-07-01,2018,94,A drug dealer starts having doubts about his t...,Dramas,1.0,July,2018.0
4809,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,88,"Dragged from civilian life, a former superhero...",Children,11.0,January,2020.0
4810,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,2020-10-19,2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas,19.0,October,2020.0
4811,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,111,A scrappy but poor boy worms his way into a ty...,Dramas,2.0,March,2019.0

In [14]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre,day,month,year
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016-12-23,2016,93,After a devastating earthquake hits Mexico Cit...,Dramas,23.0,December,2016.0
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2018-12-20,2011,78,"When an army recruit is found dead, his fellow...",Horror Movies,20.0,December,2018.0
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2017-11-16,2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action,16.0,November,2017.0
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2020-01-01,2008,123,A brilliant group of students become card-coun...,Dramas,1.0,January,2020.0
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,2017-07-01,2016,1,A genetics professor experiments with a treatm...,International TV,1.0,July,2017.0

# Summary Statistics

In [15]:
df['duration'].mean()
df['duration'].std()
df['duration'].median()

99.0

In [16]:
def pct30(column):
    return column.quantile(0.3)

pct30(df['duration'])

90.0

In [17]:
df['duration'].cumsum() ## cumulative sum of number

0           93
1          171
2          251
3          374
4          375
         ...
4807    478723
4808    478817
4809    478905
4810    479004
4811    479115
Name: duration, Length: 4812, dtype: int64

In [18]:
df['duration'].cummax()

0        93
1        93
2        93
3       123
4       123
       ...
4807    253
4808    253
4809    253
4810    253
4811    253
Name: duration, Length: 4812, dtype: int64

In [19]:
df

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre,day,month,year
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016-12-23,2016,93,After a devastating earthquake hits Mexico Cit...,Dramas,23.0,December,2016.0
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2018-12-20,2011,78,"When an army recruit is found dead, his fellow...",Horror Movies,20.0,December,2018.0
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2017-11-16,2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action,16.0,November,2017.0
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2020-01-01,2008,123,A brilliant group of students become card-coun...,Dramas,1.0,January,2020.0
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,2017-07-01,2016,1,A genetics professor experiments with a treatm...,International TV,1.0,July,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4807,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,88,Looking to survive in a world taken over by zo...,Comedies,1.0,November,2019.0
4808,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,2018-07-01,2018,94,A drug dealer starts having doubts about his t...,Dramas,1.0,July,2018.0
4809,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,88,"Dragged from civilian life, a former superhero...",Children,11.0,January,2020.0
4810,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,2020-10-19,2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas,19.0,October,2020.0
4811,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,111,A scrappy but poor boy worms his way into a ty...,Dramas,2.0,March,2019.0

In [20]:
df.drop_duplicates(subset='title')

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre,day,month,year
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016-12-23,2016,93,After a devastating earthquake hits Mexico Cit...,Dramas,23.0,December,2016.0
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2018-12-20,2011,78,"When an army recruit is found dead, his fellow...",Horror Movies,20.0,December,2018.0
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2017-11-16,2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action,16.0,November,2017.0
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2020-01-01,2008,123,A brilliant group of students become card-coun...,Dramas,1.0,January,2020.0
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,2017-07-01,2016,1,A genetics professor experiments with a treatm...,International TV,1.0,July,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4807,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,88,Looking to survive in a world taken over by zo...,Comedies,1.0,November,2019.0
4808,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,2018-07-01,2018,94,A drug dealer starts having doubts about his t...,Dramas,1.0,July,2018.0
4809,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,88,"Dragged from civilian life, a former superhero...",Children,11.0,January,2020.0
4810,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,2020-10-19,2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas,19.0,October,2020.0
4811,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,111,A scrappy but poor boy worms his way into a ty...,Dramas,2.0,March,2019.0

# Counting in Pandas

In [21]:

Movie_Count = df["title"].value_counts()
print(Movie_Count)


Movie_Count = df["title"].value_counts(normalize=True)
print(Movie_Count)


Movie_Count = df["title"].value_counts(sort=True)
print(Movie_Count)

Movie_Count = df["title"].value_counts(sort=True,normalize=True)
print(Movie_Count)

title
7:19                               1
Retablo                            1
Restless Creature: Wendy Whelan    1
Residue                            1
Residente                          1
                                  ..
Gurgaon                            1
Gunjan Saxena: The Kargil Girl     1
Guna 369                           1
Gun City                           1
Zubaan                             1
Name: count, Length: 4812, dtype: int64
title
7:19                               0.000208
Retablo                            0.000208
Restless Creature: Wendy Whelan    0.000208
Residue                            0.000208
Residente                          0.000208
                                     ...
Gurgaon                            0.000208
Gunjan Saxena: The Kargil Girl     0.000208
Guna 369                           0.000208
Gun City                           0.000208
Zubaan                             0.000208
Name: proportion, Length: 4812, dtype: float64
title
7:19                               1
Retablo                            1
Restless Creature: Wendy Whelan    1
Residue                            1
Residente                          1
                                  ..
Gurgaon                            1
Gunjan Saxena: The Kargil Girl     1
Guna 369                           1
Gun City                           1
Zubaan                             1
Name: count, Length: 4812, dtype: int64
title
7:19                               0.000208
Retablo                            0.000208
Restless Creature: Wendy Whelan    0.000208
Residue                            0.000208
Residente                          0.000208
                                     ...
Gurgaon                            0.000208
Gunjan Saxena: The Kargil Girl     0.000208
Guna 369                           0.000208
Gun City                           0.000208
Zubaan                             0.000208
Name: proportion, Length: 4812, dtype: float64

# Group By Method

In [22]:
df

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre,day,month,year
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016-12-23,2016,93,After a devastating earthquake hits Mexico Cit...,Dramas,23.0,December,2016.0
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2018-12-20,2011,78,"When an army recruit is found dead, his fellow...",Horror Movies,20.0,December,2018.0
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2017-11-16,2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action,16.0,November,2017.0
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2020-01-01,2008,123,A brilliant group of students become card-coun...,Dramas,1.0,January,2020.0
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,2017-07-01,2016,1,A genetics professor experiments with a treatm...,International TV,1.0,July,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4807,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,88,Looking to survive in a world taken over by zo...,Comedies,1.0,November,2019.0
4808,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,2018-07-01,2018,94,A drug dealer starts having doubts about his t...,Dramas,1.0,July,2018.0
4809,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,88,"Dragged from civilian life, a former superhero...",Children,11.0,January,2020.0
4810,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,2020-10-19,2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas,19.0,October,2020.0
4811,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,111,A scrappy but poor boy worms his way into a ty...,Dramas,2.0,March,2019.0

In [23]:
TotalMovieByGenre  = df.groupby('genre')['genre'].value_counts()
TotalMovieByGenre

genre
Action                   696
Anime Features            18
Anime Series               9
British TV                20
Children                 421
Classic                    1
Classic Movies            69
Comedies                1029
Crime TV                  30
Cult Movies               11
Documentaries            352
Docuseries                 7
Dramas                  1343
Horror Movies            239
Independent Movies        20
International Movies     100
International TV          39
Kids                      10
LGBTQ Movies               1
Music                     14
Reality TV                 1
Romantic Movies            3
Romantic TV                1
Sci-Fi                    11
Stand-Up                 283
TV Action                  2
TV Comedies                3
TV Horror                  1
TV Shows                   4
Thrillers                 49
Uncategorized             25
Name: count, dtype: int64

In [24]:
MovieCountByCountry = df.groupby(['country','genre'])['genre'].value_counts()
MovieCountByCountry

country    genre
Argentina  Action            2
           Children          2
           Comedies          8
           Documentaries     3
           Dramas           22
                            ..
Vietnam    Action            2
           Comedies          1
           Documentaries     1
           Horror Movies     1
Zimbabwe   Comedies          1
Name: count, Length: 396, dtype: int64

# Pivot Table

df.pivot_table(values='column you wanna calculate', index='column you wanna group by from',aggfunc=[np.mean,np.median])

In [25]:
import numpy as np
df_pivot = df.pivot_table(values='duration', index='genre') ## by default it calculated the mean aggregation 
df_pivot

df_pivot_agg = df.pivot_table(values='duration',index='genre', aggfunc=[np.mean,np.median,np.max,np.min])
df_pivot_agg

C:\Users\Acer\AppData\Local\Temp\ipykernel_23116\1641920106.py:5: FutureWarning: The provided callable <function mean at 0x00000259E98A67A0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_pivot_agg = df.pivot_table(values='duration',index='genre', aggfunc=[np.mean,np.median,np.max,np.min])
C:\Users\Acer\AppData\Local\Temp\ipykernel_23116\1641920106.py:5: FutureWarning: The provided callable <function median at 0x00000259E99E6840> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_pivot_agg = df.pivot_table(values='duration',index='genre', aggfunc=[np.mean,np.median,np.max,np.min])
C:\Users\Acer\AppData\Local\Temp\ipykernel_23116\1641920106.py:5: FutureWarning: The provided callable <function max at 0x00000259E98A5DA0> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_pivot_agg = df.pivot_table(values='duration',index='genre', aggfunc=[np.mean,np.median,np.max,np.min])
C:\Users\Acer\AppData\Local\Temp\ipykernel_23116\1641920106.py:5: FutureWarning: The provided callable <function min at 0x00000259E98A5EE0> is currently using DataFrameGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df_pivot_agg = df.pivot_table(values='duration',index='genre', aggfunc=[np.mean,np.median,np.max,np.min])

                            mean   median      max      min
                        duration duration duration duration
genre
Action                113.158046    107.5      214       40
Anime Features         96.222222     97.5      130       46
Anime Series            2.666667      2.0        9        1
British TV              2.550000      1.0        9        1
Children               83.244656     88.0      146       22
Classic                15.000000     15.0       15       15
Classic Movies        118.434783    114.0      228       18
Comedies              107.184645    103.0      253       31
Crime TV                1.700000      1.0        8        1
Cult Movies           103.636364     98.0      158       83
Documentaries          84.971591     89.0      208       12
Docuseries              1.142857      1.0        2        1
Dramas                111.796724    108.0      224        8
Horror Movies          97.033473     93.0      171       29
Independent Movies     98.700000     98.5      112       86
International Movies  112.240000    109.0      196       53
International TV        1.410256      1.0        5        1
Kids                    1.500000      1.0        5        1
LGBTQ Movies           99.000000     99.0       99       99
Music                  90.500000     86.0      153       52
Reality TV              2.000000      2.0        2        2
Romantic Movies        83.333333     84.0       85       81
Romantic TV             1.000000      1.0        1        1
Sci-Fi                108.090909    110.0      127       89
Stand-Up               64.957597     65.0      113        1
TV Action               5.000000      5.0        5        5
TV Comedies             3.666667      2.0        8        1
TV Horror               3.000000      3.0        3        3
TV Shows                1.000000      1.0        1        1
Thrillers              97.244898     92.0      149       80
Uncategorized          53.160000     51.0       92       14

In [26]:
## pivot on two variable

PivotOnTwoVariable = df.pivot_table(values='duration',index='genre', columns='country', fill_value=0,margins=True)
PivotOnTwoVariable

country,Argentina,Australia,Austria,Bangladesh,Belgium,Brazil,Bulgaria,Cambodia,Canada,Chile,...,Thailand,Turkey,United Arab,United Kingdom,United States,Uruguay,Venezuela,Vietnam,Zimbabwe,All
genre,,,,,,,,,,,,,,,,,,,,,
Action,98.500000,122.166667,0.000000,0.0,0.00,107.333333,88.5,92.0,98.562500,0.000000,...,103.714286,112.200000,106.500000,106.500000,108.385246,0.000000,0.0,106.5,0.0,113.158046
Anime Features,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,96.222222
Anime Series,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,2.666667
British TV,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,2.550000,0.000000,0.000000,0.0,0.0,0.0,2.550000
Children,72.500000,76.416667,0.000000,0.0,0.00,85.285714,0.0,0.0,75.843750,102.000000,...,103.000000,98.500000,98.000000,82.529412,81.557196,0.000000,0.0,0.0,0.0,83.244656
Classic,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,15.000000,0.000000,0.0,0.0,0.0,15.000000
Classic Movies,0.000000,91.333333,0.000000,0.0,0.00,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,124.142857,114.342857,0.000000,0.0,0.0,0.0,118.434783
Comedies,99.125000,98.333333,0.000000,136.0,0.00,87.909091,0.0,0.0,91.033333,96.800000,...,108.636364,104.640000,91.000000,99.428571,97.167702,93.000000,0.0,92.0,100.0,107.184645
Crime TV,0.000000,0.000000,0.000000,0.0,1.00,0.000000,0.0,0.0,1.000000,0.000000,...,1.000000,1.000000,0.000000,0.000000,3.857143,0.000000,0.0,0.0,0.0,1.700000
Cult Movies,0.000000,101.000000,0.000000,0.0,0.00,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,101.875000,0.000000,0.0,0.0,0.0,103.636364
Documentaries,85.666667,81.000000,100.000000,0.0,84.00,96.333333,0.0,0.0,85.642857,0.000000,...,87.500000,0.000000,86.000000,81.535714,83.970732,69.333333,119.0,93.0,0.0,84.971591
Docuseries,0.000000,0.000000,0.000000,0.0,0.00,1.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.200000,0.000000,0.0,0.0,0.0,1.142857
Dramas,95.954545,106.200000,97.333333,95.0,112.25,108.363636,0.0,137.0,100.468750,98.428571,...,121.250000,110.437500,109.000000,107.909091,104.673797,98.000000,0.0,0.0,0.0,111.796724
Horror Movies,84.000000,90.500000,0.000000,0.0,0.00,0.000000,91.0,0.0,91.142857,0.000000,...,104.111111,140.333333,0.000000,93.611111,92.117117,0.000000,0.0,112.0,0.0,97.033473
Independent Movies,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.0,0.0,91.000000,0.000000,...,0.000000,0.000000,0.000000,102.000000,98.000000,0.000000,0.0,0.0,0.0,98.700000
International Movies,0.000000,111.000000,99.000000,0.0,0.00,0.000000,102.0,0.0,90.000000,95.000000,...,110.000000,0.000000,94.500000,94.000000,0.000000,0.000000,0.0,0.0,0.0,112.240000
International TV,1.000000,1.000000,0.000000,0.0,0.00,1.500000,0.0,0.0,4.000000,0.000000,...,1.000000,1.666667,0.000000,1.000000,1.000000,0.000000,0.0,0.0,0.0,1.410256
Kids,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.0,0.0,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0,0.0,1.500000
LGBTQ Movies,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.0,0.0,99.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,99.000000
Music,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,120.000000,85.000000,0.000000,0.0,0.0,0.0,90.500000
Reality TV,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.0,0.0,0.0,2.000000
Romantic Movies,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.0,0.0,84.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,83.000000,0.000000,0.0,0.0,0.0,83.333333
Romantic TV,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.0,0.0,1.000000
Sci-Fi,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.0,0.0,100.000000,0.000000,...,0.000000,0.000000,0.000000,107.500000,109.833333,0.000000,0.0,0.0,0.0,108.090909
Stand-Up,61.714286,68.333333,0.000000,0.0,0.00,72.500000,0.0,0.0,53.000000,68.666667,...,0.000000,0.000000,0.000000,61.400000,65.159420,0.000000,0.0,0.0,0.0,64.957597
TV Action,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.0,0.0,0.0,5.000000
TV Comedies,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.0,0.0,2.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,4.500000,0.000000,0.0,0.0,0.0,3.666667
TV Horror,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.0,0.0,0.0,3.000000
TV Shows,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0,0.0,1.000000
Thrillers,0.000000,110.000000,0.000000,0.0,0.00,0.000000,0.0,0.0,94.000000,0.000000,...,0.000000,0.000000,0.000000,95.500000,97.775000,0.000000,0.0,0.0,0.0,97.244898
Uncategorized,0.000000,76.000000,0.000000,0.0,0.00,0.000000,0.0,0.0,72.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,51.000000,0.000000,0.0,0.0,0.0,53.160000
All,87.391304,92.040000,98.200000,115.5,89.00,84.085106,94.4,114.5,87.077419,92.705882,...,98.850000,101.049383,96.941176,90.183280,91.425769,84.285714,119.0,102.0,100.0,99.566708

# Explicit Indexes

In [27]:
df[df['genre'].isin(['Horror Movies','Action','Comedies'])]

df_ind= df.set_index('genre')
df_ind

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,day,month,year
genre,,,,,,,,,,,,,
Dramas,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016-12-23,2016,93,After a devastating earthquake hits Mexico Cit...,23.0,December,2016.0
Horror Movies,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2018-12-20,2011,78,"When an army recruit is found dead, his fellow...",20.0,December,2018.0
Action,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2017-11-16,2009,80,"In a postapocalyptic world, rag-doll robots hi...",16.0,November,2017.0
Dramas,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2020-01-01,2008,123,A brilliant group of students become card-coun...,1.0,January,2020.0
International TV,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,2017-07-01,2016,1,A genetics professor experiments with a treatm...,1.0,July,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Comedies,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,88,Looking to survive in a world taken over by zo...,1.0,November,2019.0
Dramas,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,2018-07-01,2018,94,A drug dealer starts having doubts about his t...,1.0,July,2018.0
Children,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,88,"Dragged from civilian life, a former superhero...",11.0,January,2020.0
Dramas,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,2020-10-19,2005,99,When Lebanon's Civil War deprives Zozo of his ...,19.0,October,2020.0
Dramas,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,111,A scrappy but poor boy worms his way into a ty...,2.0,March,2019.0

In [28]:
df_ind.loc[['Horror Movies']]

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,day,month,year
genre,,,,,,,,,,,,,
Horror Movies,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2018-12-20,2011,78,"When an army recruit is found dead, his fellow...",20.0,December,2018.0
Horror Movies,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,2020-06-01,2019,95,"After an awful accident, a couple admitted to ...",1.0,June,2020.0
Horror Movies,s9,Movie,706,Shravan Kumar,"Divya Dutta, Atul Kulkarni, Mohan Agashe, Anup...",India,2019-04-01,2019,118,"When a doctor goes missing, his psychiatrist w...",1.0,April,2019.0
Horror Movies,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,2017-12-15,2008,143,An architect and his wife move into a castle t...,15.0,December,2017.0
Horror Movies,s28,Movie,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,2020-09-08,2020,99,"As a grisly virus rampages a city, a lone man ...",8.0,September,2020.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Horror Movies,s7559,Movie,What Lies Beneath,Robert Zemeckis,"Harrison Ford, Michelle Pfeiffer, Diana Scarwi...",United States,2020-01-01,2000,130,When Claire Spencer starts hearing ghostly voi...,1.0,January,2020.0
Horror Movies,s7626,Movie,Wildling,Fritz Böhm,"Bel Powley, Brad Dourif, Liv Tyler, Collin Kel...",United States,2020-04-01,2018,93,Confined to an attic for years by a man claimi...,1.0,April,2020.0
Horror Movies,s7632,Movie,Winchester,"Michael Spierig, Peter Spierig","Helen Mirren, Jason Clarke, Sarah Snook, Angus...",Australia,2020-07-01,2018,100,The heiress to a vast firearms fortune constru...,1.0,July,2020.0
Horror Movies,s7674,Movie,Would You Rather,David Guy Levy,"Brittany Snow, Jeffrey Combs, Jonny Coyne, Law...",United States,2019-06-05,2013,93,"In need of cash to help her sick brother, a yo...",5.0,June,2019.0
Horror Movies,s7688,Movie,XX,"Jovanka Vuckovic, Annie Clark, Roxanne Benjami...","Natalie Brown, Jonathan Watton, Melanie Lynske...",Canada,2017-06-22,2017,81,This four-part anthology of short horror films...,22.0,June,2017.0

In [29]:
df

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre,day,month,year
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016-12-23,2016,93,After a devastating earthquake hits Mexico Cit...,Dramas,23.0,December,2016.0
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2018-12-20,2011,78,"When an army recruit is found dead, his fellow...",Horror Movies,20.0,December,2018.0
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2017-11-16,2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action,16.0,November,2017.0
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2020-01-01,2008,123,A brilliant group of students become card-coun...,Dramas,1.0,January,2020.0
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,2017-07-01,2016,1,A genetics professor experiments with a treatm...,International TV,1.0,July,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4807,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,88,Looking to survive in a world taken over by zo...,Comedies,1.0,November,2019.0
4808,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,2018-07-01,2018,94,A drug dealer starts having doubts about his t...,Dramas,1.0,July,2018.0
4809,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,88,"Dragged from civilian life, a former superhero...",Children,11.0,January,2020.0
4810,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,2020-10-19,2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas,19.0,October,2020.0
4811,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,111,A scrappy but poor boy worms his way into a ty...,Dramas,2.0,March,2019.0

In [30]:
df

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre,day,month,year
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016-12-23,2016,93,After a devastating earthquake hits Mexico Cit...,Dramas,23.0,December,2016.0
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2018-12-20,2011,78,"When an army recruit is found dead, his fellow...",Horror Movies,20.0,December,2018.0
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2017-11-16,2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action,16.0,November,2017.0
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2020-01-01,2008,123,A brilliant group of students become card-coun...,Dramas,1.0,January,2020.0
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,2017-07-01,2016,1,A genetics professor experiments with a treatm...,International TV,1.0,July,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4807,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,88,Looking to survive in a world taken over by zo...,Comedies,1.0,November,2019.0
4808,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,2018-07-01,2018,94,A drug dealer starts having doubts about his t...,Dramas,1.0,July,2018.0
4809,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,88,"Dragged from civilian life, a former superhero...",Children,11.0,January,2020.0
4810,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,2020-10-19,2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas,19.0,October,2020.0
4811,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,111,A scrappy but poor boy worms his way into a ty...,Dramas,2.0,March,2019.0

In [31]:
df_ind = df.set_index('type')
df_ind

,show_id,title,director,cast,country,date_added,release_year,duration,description,genre,day,month,year
type,,,,,,,,,,,,,
Movie,s2,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016-12-23,2016,93,After a devastating earthquake hits Mexico Cit...,Dramas,23.0,December,2016.0
Movie,s3,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2018-12-20,2011,78,"When an army recruit is found dead, his fellow...",Horror Movies,20.0,December,2018.0
Movie,s4,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2017-11-16,2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action,16.0,November,2017.0
Movie,s5,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2020-01-01,2008,123,A brilliant group of students become card-coun...,Dramas,1.0,January,2020.0
TV Show,s6,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,2017-07-01,2016,1,A genetics professor experiments with a treatm...,International TV,1.0,July,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Movie,s7779,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,88,Looking to survive in a world taken over by zo...,Comedies,1.0,November,2019.0
Movie,s7781,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,2018-07-01,2018,94,A drug dealer starts having doubts about his t...,Dramas,1.0,July,2018.0
Movie,s7782,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,88,"Dragged from civilian life, a former superhero...",Children,11.0,January,2020.0
Movie,s7783,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,2020-10-19,2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas,19.0,October,2020.0
Movie,s7784,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,111,A scrappy but poor boy worms his way into a ty...,Dramas,2.0,March,2019.0

In [32]:
df.reset_index()
df

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre,day,month,year
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016-12-23,2016,93,After a devastating earthquake hits Mexico Cit...,Dramas,23.0,December,2016.0
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2018-12-20,2011,78,"When an army recruit is found dead, his fellow...",Horror Movies,20.0,December,2018.0
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2017-11-16,2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action,16.0,November,2017.0
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2020-01-01,2008,123,A brilliant group of students become card-coun...,Dramas,1.0,January,2020.0
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,2017-07-01,2016,1,A genetics professor experiments with a treatm...,International TV,1.0,July,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4807,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,88,Looking to survive in a world taken over by zo...,Comedies,1.0,November,2019.0
4808,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,2018-07-01,2018,94,A drug dealer starts having doubts about his t...,Dramas,1.0,July,2018.0
4809,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,88,"Dragged from civilian life, a former superhero...",Children,11.0,January,2020.0
4810,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,2020-10-19,2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas,19.0,October,2020.0
4811,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,111,A scrappy but poor boy worms his way into a ty...,Dramas,2.0,March,2019.0

In [33]:
df.reset_index(drop=True)
df

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre,day,month,year
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016-12-23,2016,93,After a devastating earthquake hits Mexico Cit...,Dramas,23.0,December,2016.0
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2018-12-20,2011,78,"When an army recruit is found dead, his fellow...",Horror Movies,20.0,December,2018.0
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2017-11-16,2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action,16.0,November,2017.0
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2020-01-01,2008,123,A brilliant group of students become card-coun...,Dramas,1.0,January,2020.0
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,2017-07-01,2016,1,A genetics professor experiments with a treatm...,International TV,1.0,July,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4807,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,88,Looking to survive in a world taken over by zo...,Comedies,1.0,November,2019.0
4808,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,2018-07-01,2018,94,A drug dealer starts having doubts about his t...,Dramas,1.0,July,2018.0
4809,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,88,"Dragged from civilian life, a former superhero...",Children,11.0,January,2020.0
4810,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,2020-10-19,2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas,19.0,October,2020.0
4811,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,111,A scrappy but poor boy worms his way into a ty...,Dramas,2.0,March,2019.0

In [34]:
df[df['genre'].isin(['Dramas','Horror Movies'])]

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre,day,month,year
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016-12-23,2016,93,After a devastating earthquake hits Mexico Cit...,Dramas,23.0,December,2016.0
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2018-12-20,2011,78,"When an army recruit is found dead, his fellow...",Horror Movies,20.0,December,2018.0
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2020-01-01,2008,123,A brilliant group of students become card-coun...,Dramas,1.0,January,2020.0
5,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,2020-06-01,2019,95,"After an awful accident, a couple admitted to ...",Horror Movies,1.0,June,2020.0
6,s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,2019-11-01,1997,119,After one of his high school students attacks ...,Dramas,1.0,November,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4799,s7769,Movie,Zindagi Kitni Haseen Hay,Anjum Shahzad,"Feroze Khan, Sajal Ali, Jibrayl Ahmed Rajput, ...",Pakistan,2018-10-01,2016,126,Two young parents struggle to keep their marri...,Dramas,1.0,October,2018.0
4801,s7771,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...",United Arab,2016-03-09,2015,96,Recovering alcoholic Talal wakes up inside a s...,Dramas,9.0,March,2016.0
4808,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,2018-07-01,2018,94,A drug dealer starts having doubts about his t...,Dramas,1.0,July,2018.0
4810,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,2020-10-19,2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas,19.0,October,2020.0
4811,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,111,A scrappy but poor boy worms his way into a ty...,Dramas,2.0,March,2019.0

In [35]:
df

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre,day,month,year
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016-12-23,2016,93,After a devastating earthquake hits Mexico Cit...,Dramas,23.0,December,2016.0
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2018-12-20,2011,78,"When an army recruit is found dead, his fellow...",Horror Movies,20.0,December,2018.0
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2017-11-16,2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action,16.0,November,2017.0
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2020-01-01,2008,123,A brilliant group of students become card-coun...,Dramas,1.0,January,2020.0
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,2017-07-01,2016,1,A genetics professor experiments with a treatm...,International TV,1.0,July,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4807,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,88,Looking to survive in a world taken over by zo...,Comedies,1.0,November,2019.0
4808,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,2018-07-01,2018,94,A drug dealer starts having doubts about his t...,Dramas,1.0,July,2018.0
4809,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,88,"Dragged from civilian life, a former superhero...",Children,11.0,January,2020.0
4810,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,2020-10-19,2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas,19.0,October,2020.0
4811,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,111,A scrappy but poor boy worms his way into a ty...,Dramas,2.0,March,2019.0